html {
    --bgcol: #eeeeee;
    --bgGreyed: #a7a7a7;
    --bgcol2: #e6e6e6;
    --txtcol: #070707;
    --shadowcol: #0707073d;
    --accnt1: rgb(0, 115, 223);
    --accnt2: rgb(190, 8, 8);
    --accnt3: rgb(7, 206, 0);
}

html.dark {
    --bgcol: #111111;
    --bgGreyed: #666666;
    --bgcol2: #161616;
    --txtcol: #eeeeee;
    --shadowcol: #cecece3d;
    /* --accnt1: rgb(106, 200, 255); */
    --accnt1: var(--bgcol);
    --accnt2: rgb(190, 8, 8);
    --accnt3: rgb(7, 206, 0);
}

