<!DOCTYPE html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To-Do</title>
    <link rel="stylesheet" href="StyleSheets/master.css" />
    <link rel="stylesheet" href="StyleSheets/variables.css" />
    <!-- Font-Api'er: -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="windowCont" class=""></div>
    <header>
      <div class="top">
        <h1>To-Do</h1>
        <button id="createNew">+</button>
      </div>
      <div class="options">
        <button id="activeBtn" class="active">Aktive Opgaver</button>
        <button id="archiveBtn">Arkiv</button>

      </div>
    </header>
    <main>
        <div id="brouchure">
      <div class="taskList" id="taskList">
      </div>
      <div class="taskList" id="archiveList"></div>

      </div>
    </main>
    <script src="index.js" type="module"></script>
  </body>
</html>
